<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://static.nowcoder.com/images/logo_87_87.png" rel="icon"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/requiredLogin.css}"/>
    <title>牛客网-账号设置</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header th:replace="~{/commons/common-header}"></header>

    <!-- 内容 -->
    <div class="main">
        <div class="container p-5 mt-3 mb-3">
            <!-- 上传头像 -->
            <h6 class="text-left text-info border-bottom pb-2">上传头像</h6>
            <form class="mt-5" enctype="multipart/form-data" method="post" th:action="@{/user/upload}">
                <div class="form-group row mt-4">
                    <label class="col-sm-2 col-form-label text-right" for="head-image">选择头像:</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input id="head-image"
                                   lang="es" name="headImage" required=""
                                   th:class="|custom-file-input ${headImageMsg == null ? '' : 'is-invalid'} |"
                                   type="file">
                            <label class="custom-file-label" data-browse="文件" for="head-image">选择一张图片</label>
                            <div class="invalid-feedback" th:text="${headImageMsg}">
                                请选择上传头像
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 text-center">
                        <button class="btn btn-info text-white form-control" type="submit">立即上传</button>
                    </div>
                </div>
            </form>
            <!-- 修改密码 -->
            <h6 class="text-left text-info border-bottom pb-2 mt-5">修改密码</h6>
            <form class="mt-5" method="post" th:action="@{/user/update}">
                <div class="form-group row mt-4">
                    <label class="col-sm-2 col-form-label text-right" for="old-password">原密码:</label>
                    <div class="col-sm-10">
                        <input id="old-password" name="oldPassword"
                               placeholder="请输入原始密码!"
                               required
                               th:class="|form-control ${passwordMsg == null ? '' : 'is-invalid'}|"
                               th:value="${oldPassword == null ? '' :oldPassword}" type="password">
                        <div class="invalid-feedback" th:text="${passwordMsg}">
                            密码长度不能小于8位!
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <label class="col-sm-2 col-form-label text-right" for="new-password">新密码:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="new-password" name="newPassword"
                               placeholder="请输入新的密码!"
                               required th:value="${newPassword}" type="password">
                        <div class="invalid-feedback">
                            密码长度不能小于8位!
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <label class="col-sm-2 col-form-label text-right" for="confirm-password">确认密码:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="confirm-password" name="confirmPassword"
                               placeholder="再次输入新密码!"
                               required th:value="${newPassword}"
                               type="password">
                        <div class="invalid-feedback">
                            两次输入的密码不一致!
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 text-center">
                        <button class="btn btn-info text-white form-control" type="submit">立即保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 尾部 -->
    <footer th:replace="~{/commons/common-footer}"></footer>
</div>

<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script th:src="@{/js/global.js}"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>
</body>
</html>
